/* who.css */

.contacttext {
    text-align: center;
}

#contacttitle {
    font-size: 1.5rem;
    font-weight: 700;
}

#contacttitle2 {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 700;
}

.contactmargin {
    height: 30px;
}