#footersocialwrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

#footersocialwrap2 {
    margin-bottom: 20px;
}

#footersocialwrap2 img {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;

}

#footersocialwrap p {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}