
#frontmain {
    height: calc(100% - 144px);
    
    overflow-x: hidden;
    
}

#frontwrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100% - 50px);
    
}

#frontcont {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 750px;
    
    box-sizing: border-box;
    
}


#slideimgcont {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    
    
}

#frontpic {
    position: absolute;
    width: 100%;
    top: 0;
    flex-direction: column;
    
    transform: rotate(-2.4deg);
}


#fronttext {
    
    position: absolute;
    bottom: -20px;
    left: -70px;
    max-width: 750px;
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

#fronttext1 {
    color: var(--yellow);
    font-size: 2rem;
}

#fronttext2 {
    color: var(--yellow);
    font-size: 1.3rem;
}



#frontsocialwrap {
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#frontsocialwrap2 {
    height: 100%;
    display: flex;
    align-items: center;
}

#frontsocialwrap img {
    
    height: 33px;
    padding-left: 7px;
    padding-right: 7px;
}

/*---------------------------------------*/


@media (max-width: 1200px) {

    #frontcont {
        max-width: 700px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
     
    #fronttext {
        max-width: 700px;
    } 
    
    #fronttext1 {
        
        font-size: 1.8rem;
    }
    
    #fronttext2 {
        
        font-size: 1.2rem;
    }
   
}


/* -------------------------------*/

@media (max-width: 1000px) {

    #frontmain {
        height: calc(100% - 50px);
        
    }

    #fronttext {
        position: relative;
        bottom: 0;
        left: 0;
        
    }


}

/* -------------------------------*/

@media (max-width: 800px) {

    #fronttext1 {
        
        font-size: 1.7rem;
    }
    
    #fronttext2 {
        
        font-size: 1rem;
    }

}

/* -------------------------------*/

@media (max-width: 600px) {

    #fronttext1 {
        
        font-size: 1.5rem;
    }
    
    #fronttext2 {
        
        font-size: 1rem;
    }

}






/* --------HEIGHT--------*/

@media (max-height: 800px) {



#frontcont {

    width: 100%;
    max-width: 600px;


}

#fronttext {
    max-width: 600px;
} 

/*-------------------------*/

}

@media (max-height: 700px) {



    #frontcont {
    
        width: 100%;
        max-width: 550px;
    
    
    }

    #fronttext {
        max-width: 550px;
    } 
    
    /*-------------------------*/
    
    
    }

    @media (max-height: 600px) {



        #frontcont {
        
            width: 100%;
            max-width: 500px;
        
        
        }
    
        #fronttext {
            max-width: 500px;
        } 
        
        
        
        
        }

