
#frontmain {
    position: relative;
    min-height: calc(99vh - 144px - 100px - 20px);
    overflow-x: hidden;
    overflow-y: auto;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#frontwrap {
    position: relative;
    min-height: calc(99vh - 144px - 100px - 20px);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    padding-bottom: 20px;
}

#frontcont {
    grid-row-start: 5;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 900px;
    
}


#slideimgcont {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    
    
}

#frontpic1, #frontpic2, #frontpic3 {
    position: absolute;
    width: 100%;
    top: 0;
    flex-direction: column;
    transform: rotate(-2.4deg);
}

#frontpic2 {
    display: none;
}

#frontpic3 {
    display: none;
}


#fronttext {
    
    position: absolute;
    bottom: -20px;
    left: -70px;
    max-width: 900px;
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.fronttextcont {
    display: inline-block;
    
}

#fronttext1 {
    color: var(--yellow);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.7);
    padding: 6px;
    border-radius: 5px;
    word-wrap:break-word;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#fronttext2 {
    color: white;
    font-size: 1.3rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}





/*---------------------------------------*/


@media (max-width: 1200px) {

    #fronttext1 {
        
        font-size: 1.8rem;
    }
    
    #fronttext2 {
        
        font-size: 1.2rem;
    }

    #frontwrap {
        padding-bottom: 0px;
    }

    #fronttext {
        padding-top: 20px;
        position: relative;
        bottom: 0;
        left: 0;
        
    }
   
}


/* -------------------------------*/

@media (max-width: 1000px) {

    #frontmain {
        position: relative;
        min-height: calc(99vh - 50px - 100px);

    }
    
    #frontwrap {

        min-height: calc(99vh - 50px - 100px);

    }


}

/* -------------------------------*/

@media (max-width: 800px) {


    #fronttext1 {
        
        font-size: 1.7rem;
    }
    
    #fronttext2 {
        
        font-size: 1rem;
    }


}

/* -------------------------------*/

@media (max-width: 600px) {

    #fronttext1 {
        
        font-size: 1.5rem;
    }
    
    #fronttext2 {
        
        font-size: 1rem;
    }


}





