
#headwrap {
    height: auto;
    z-index: 1000;
    font-family: 'Fjalla One', sans-serif;
}

#headlogowrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#headlogo {
    width: 350px;
}

#headlangwrap {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

#headlangwrap p {
    margin: 0;
    padding: 0;
    padding: 10px;
    color: var(--text1);
    cursor: pointer;
}

#headlangwrap p:hover {
    color: var(--yellow);
}


#headlinkwrap {
    height: auto;

}

#headlinkwrap nav {
    height: auto;
    display: flex;
 
}

#headlinkwrap ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: flex;
}

#headlinkwrap li {
    padding: 10px;
}



#headlinkwrap a {
    text-decoration: none;
    color: var(--text1);
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    transition: color 0.2s;
}

#headlinkwrap a:hover {
    color:var(--yellow);
}


#mobileheader {
    
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    background: var(--sky1);
    width: 100%;
    display: none;
    padding-left: 3px;
    
}

#headlogowrap2 {
    height: auto;

}

#headlogowrap2 img {
    width: 200px;

}


#hamburger {
    position: absolute;
    right: 10px;
    
}

.line {
    width: 24px;
    height: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: white;
}

#emptybox {
    position: relative;
    top: 0;
    height: 50px;
    width: 100%;
    display: none;
}

#mobilemenu {
    position: fixed;
    top: 50px;
    background: var(--sky1);
    z-index: 1000;
    width: 100%;
    height: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#mobilenav {
    width: 100%;
    display: none;
    padding-bottom: 50px;
}

#mobilemenu ul {
    padding: 0;
    margin: 0 auto;
    width: 100%; 
    
}

.licont {
    height: auto;

}

#mobilemenu li {
    list-style: none;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mobilemenu a {
    text-decoration: none;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.7rem;
}


#headlangwrap2 {
    color: white;
    display: flex;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#headlangwrap2 p {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1rem;
}

/*---------------------------------------*/

 
@media (max-width: 1000px) {

    #headwrap {
        display: none;
    }

    #mobileheader {
        display: flex;
        align-items: center;
    }

    #emptybox {
        display: block;
    }

 
}

/*---------------------------------------*/

 
@media (max-height: 450px) {

    .licont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
    }

 }
