

/* who.css  */

#forminfo {
    text-align: center;
    margin-top: 30px;
}

#form {
    
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#theform {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.maininput {
    height: 25px;
    width: 100%;
    font-size: 1rem;
}

.checkbox {
width: 90%;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;

}



.checkinput {
    transform: scale(1.4);
    margin: 0 auto;
    
}

#send {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background: var(--sky2);
    user-select: none;
}

#send:hover {
    cursor: pointer;
}

#send:active {
    filter: brightness(80%);
}

#linktoformsent {
    display: none;
}

.textwithmargin {
    padding-top: 20px;
}

#textarea {
    width: 100%;
    font-size: 1.1rem;
    box-sizing: border-box;
}



