/* who.css */

#popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1500;

    display: none;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    
}



#popupimg {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 900px;    
    margin: 0 auto;
    
}

#arrowleft {

    left: 0px;

}

#arrowright {

    right: 0px;
    

}

.arrow {
    font-size: 3rem;
    top: 45%;
    position: absolute;
    background: rgba(0,0,0, 0.8);
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    border-radius: 5px;
}

.arrow:hover {
    cursor: pointer;
}

#arrowleft p {
    padding: 0;
    margin: 0;
}

#arrowright p {
    padding: 0;
    margin: 0;
}



#popupimg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#popupx {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    user-select: none;
    z-index: 1500;
}

#popupx p {
    margin: 0;
    padding: 0;
}

#popupx p:hover {
    cursor: pointer;
}

#piccontainer {
    margin-top: 30px;
    height: auto;

    display: grid;
    
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}



#piccontainer img {
    display: flex;
    filter: grayscale(100%);
    width: 100%;
    margin-bottom: 10px;
    transition: filter 0.2s;
}

#piccontainer img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

#piccontainer2 {
    display: none;
}



/*-------------------------------*/

@media (max-width: 700px) {

#piccontainer {
    display: none;
}

    #piccontainer2 {
        margin-top: 30px;
        height: auto;
    
        display: grid;
        
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    
    
    
    #piccontainer2 img {
        display: flex;
        filter: grayscale(100%);
        width: 100%;
        margin-bottom: 10px;
        transition: filter 0.2s;
    }
    
    #piccontainer2 img:hover {
        filter: grayscale(0%);
        cursor: pointer;
    }

}