/* who.css */

.tableh2wrap, .tableh3wrap, .tableh4wrap {
    height: auto;
}

.tableh2wrap h2, .tableh3wrap h3, .tableh4wrap h4 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;

    padding-left: 25px;
    padding-right: 25px;
}

#shoplink {
  text-decoration: none;
  color: var(--color1)
}

/*------------------------------*/

@media (max-width: 1000px) {

  .tableh2wrap h2, .tableh3wrap h3, .tableh4wrap h4 {

    font-size: 1.4rem;
 
}

}


@media (max-width: 900px) {

  .tableh2wrap h2, .tableh3wrap h3, .tableh4wrap h4 {

    padding-left: 0px;
    padding-right: 0px;
}

}