
.tablewrap {
    
    width: 100%;
    
    margin-top: 10px;
    z-index: 0;
    color: var(--text3);
}

#whowrap2 {
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    background: var(--table);
    margin: 0 auto;
    border-radius: 5px;
}


#whopic {
    height: auto;
}

#whopic img {

    width: 100%;

}

#whotitlewrap {
    height: auto;
}

#whotitle {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    text-align: left;
    margin-top: 30px;
}


#whointro {
    height: auto;
}

#whotext {
   height: auto;
}


#whotext p {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 1.1rem;
    line-height: 1.5rem;
}



#wholinks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
}

#wholinks h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;


    }

#wholinks a {
    color: var(--color2);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*------------------------------*/

@media (max-width: 1150px) {


}