
.tablewrap {
    
    width: 100%;
    
    z-index: 0;
    color: var(--text3);
}

.tablewrap2 {
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    background: var(--table);
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
}


.intropic {
    height: auto;
}

.intropic img {

    width: 100%;

}

.tabletitlewrap {
    height: auto;
}

.tabletitle {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    text-align: left;
    margin-top: 30px;

    padding-left: 25px;
    padding-right: 25px;
}

.subtitle {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    text-align: left;
    margin-top: 10px;

    padding-left: 25px;
    padding-right: 25px;
}


.tableintro {
    padding-left: 25px;
    padding-right: 25px;
}

.tabletext {
   height: auto;
}


.tabletext p {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 1.1rem;
    line-height: 1.4rem;
}



#wholinks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    padding-left: 25px;
    padding-right: 25px;
}

#wholinks h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 900;

    }

#wholinks a {
    color: var(--color2);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*------------------------------*/

@media (max-width: 1000px) {

    .tabletitle {
        font-size: 1.6rem;
    }

    .tabletext p {
        font-size: 1rem;
    }

    #wholinks h2 {
        font-size: 1.4rem;
    }

}




@media (max-width: 900px) {

    .tabletitle {
        padding-left: 0;
        padding-right: 0;
    }

    .tableintro {
        padding-left: 0;
        padding-right: 0;
    }

    .subtitle {
        padding-left: 0;
        padding-right: 0;
    }

    #wholinks {
        padding-left: 0;
        padding-right: 0;
    }

}