html {
  margin: 0;
  
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --sky1: #08004b;    /* sky upper part    */
  --sky2: #3373a9;    /* sky bottom  */

  --text1: #F7F9FB;   /* header text */
  --text2: #F7F9FB;   /* slideshow text */

  --text3: #F7F9FB;   /* table text */
  --table: rgba(27, 44, 98, 0.8);   /* table background */

  font-family: 'Montserrat', sans-serif;
  
}

