html {
  margin: 0;
  
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --sky1: #30718E;    /* sky upper part  */
  --sky2: #5085A5;    /* sky bottom  */

  --text1: #F7F9FB;   /* header text */
  --text2: #F7F9FB;   /* slideshow text */

  --text3: #30718E;   /* table text */
  --table: #F7F9FB;   /* table background */

  font-family: 'Montserrat', sans-serif;
  
}

