html {
  margin: 0;
  
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --color1: #2c2a2a;
  --color2: #EDF2F4;
  --color3: #929786;
  --color4: #f2efe8;

  font-family: 'Fjalla One', sans-serif;
  
}

